<div class="p-4">
  <div class="mb-4">
    <mat-form-field class="w-full">
      <mat-label>Search by username</mat-label>
      <input matInput [(ngModel)]="search" (input)="searchWorkouts()">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Filter by workout type</mat-label>
      <input matInput [(ngModel)]="filter" (input)="filterWorkouts()">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="filteredWorkouts" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let workout" (click)="showWorkoutProgress(workout.username)" class="cursor-pointer"> {{workout.username}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Workout Type </th>
      <td mat-cell *matCellDef="let workout"> {{workout.type}} </td>
    </ng-container>
    <ng-container matColumnDef="minutes">
      <th mat-header-cell *matHeaderCellDef> Minutes </th>
      <td mat-cell *matCellDef="let workout"> {{workout.minutes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['username', 'type', 'minutes']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['username', 'type', 'minutes'];"></tr>
  </table>
  <mat-paginator [length]="workouts.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
